* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.3;
  color: white;
  background-color: black;
}

.sec-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.699)),
    url(assets/starting\ background.jpg);
  min-height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  width: 1000px;
  max-width: 90%;
  height: 6rem;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.logo {
  height: 5rem;
}

.header-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.language {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgba(250, 235, 215, 0);
  font-size: 1rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.button {
  background-color: red;
  padding: 0.5rem 0.8rem;
  border: solid 1px red;
  border-radius: 0.4rem;
}

.signin {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.button:hover {
  background-color: rgba(255, 0, 0, 0.733);
}

.title {
  width: 1000px;
  max-width: 80%;
  height: 70vh;
  margin: auto;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.main-head {
  font-size: 3rem;
  font-weight: 900;
}

.main-subhead {
  font-size: 24px;
}

.main-endhead {
  font-size: 20px;
}

.email-start {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.email {
  padding: 1rem 1rem;
  width: 20rem;
  max-width: 80%;
  font-size: 1.1rem;
  margin: 1rem 0rem 0rem 0rem;
  background-color: rgba(15, 15, 15, 0.507);
  outline: none;
  border: solid 1px rgba(241, 241, 241, 0.733);
  border-radius: 0.4rem;
}

.email:focus {
  border: solid 2px white;
  outline: white;
}

.start {
  margin: 1rem 1.5rem 0rem 1.5rem;
  color: white;
  background-color: red;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.start-txt {
  padding: 0.85rem 2rem;
}

.start:hover {
  background-color: rgba(255, 0, 0, 0.678);
}

.section-border {
  border-bottom: 8px solid #292929;
}

.sec-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 65vh;
}

.sec2-text {
  text-align: center;
  display: flex;
  width: 30rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 2rem;
  max-width: 90%;
}

.sec2-video {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  max-width: 80%;
}

.sec2-img {
  width: 23rem;
  max-width: 100%;
}

.netflix-video {
  width: 18rem;
  max-width: 90%;
  margin: 1rem;
  position: absolute;
  z-index: -1;
  top: 2rem;
}

.sec2-head {
  font-size: 2.5rem;
  font-weight: 700;
}

.sec2-para {
  margin: 1rem 0 0 0;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
}

.sec-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
}

.sec3-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-sub-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px rgba(241, 241, 241, 0.733);
  border-radius: 0.8rem;
  background-color: black;
  padding: 0.4rem 0.7rem;
  max-width: 90%;
  position: relative;
  top: -4rem;
}

.girl-img {
  width: 20rem;
  max-width: 95%;
}

.st-img {
  width: 4rem;
}

.gif {
  height: 3rem;
}

.sec3-img-txt {
  padding-left: 0.5rem;
}

.sec3-text {
  text-align: start;
  display: flex;
  width: 30rem;
  max-width: 90%;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 2rem;
}

.sec3-head {
  font-size: 2.5rem;
  font-weight: 700;
}

.sec3-para {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}

.sec-4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 70vh;
}

.sec4-text {
  display: flex;
  width: 30rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 2rem;
  max-width: 90%;
  text-align: start;
}

.sec4-head {
  font-size: 2.5rem;
  font-weight: 700;
}

.sec4-para {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

.sec4-video {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  max-width: 90%;
}

.sec4-img {
  width: 30rem;
  max-width: 100%;
}

.film-video {
  width: 18rem;
  max-width: 60%;
  position: absolute;
  z-index: -1;
  top: 2.5rem;
}

.sec-5 {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sec5-img {
  width: 40rem;
  max-width: 80%;
}

.children {
  width: 25rem;
  max-width: 80%;
}

.sec5-text {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  max-width: 90%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.sec5-head {
  font-size: 2.5rem;
  font-weight: 700;
}

.sec5-para {
  font-size: 1.3rem;
}

.sec-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 70vh;
  box-sizing: border-box;
}

.sec6-head {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
}

.sec6-button {
  width: 65rem;
  margin: 1rem;
  max-width: 80%;
  height: 5rem;
  color: white;
  background-color: #292929;
  border: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.sec6-button:hover {
  cursor: pointer;
  background-color: #363636;
}

.sec6-sub {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sec6-subhead {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.sec-7 {
  padding-top: 1rem;
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sec7-head {
  font-size: 1rem;
  color: rgba(247, 244, 244, 0.849);
}

.sec7-block1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.block1-ul {
  list-style: none;
}

.block1-list {
  margin: 1rem 0;
}

.block1-link {
  font-size: 0.9rem;
  color: rgba(247, 244, 244, 0.849);
}

.end-index {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: rgba(241, 241, 241, 0.733);
}

.sec7-block2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

@media only screen and (max-width: 992px) {
  .sec-1 {
    min-height: 90vh;
  }

  .language {
    font-size: 1rem;
  }

  .logo {
    height: 3rem;
  }

  .main-head {
    font-size: 2rem;
  }

  .main-subhead {
    font-size: 18px;
  }

  .main-endhead {
    font-size: 18px;
  }

  .sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec-3 {
    display: flex;
    flex-direction: column-reverse;
  }

  .sec4-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec-5 {
    display: flex;
    flex-direction: column-reverse;
  }

  .sec-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    max-width: 80%;
  }
  .sec6-button{
    font-size: 1.1rem;
  }
}
