body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.main {
  background-color: rgb(241, 241, 243);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  max-width: 40%;
}

.fb-logo {
  width: 30rem;
  max-width: 80%;
}

.subheading {
  font-size: 1.5rem;
  padding: 0rem 2.5rem;
  margin-bottom: 5rem;
}

.login-form {
  width: 25rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 0.5rem;
  border: none;
}

.inbox {
  display: flex;
  padding: 1rem;
  max-width: 90%;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 20rem;
  max-width: 80%;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgb(175, 175, 173);
}

.input-field::placeholder {
  color: rgb(136, 136, 134);
}

.input-field:focus::placeholder {
  color: rgb(189, 189, 181);
}

.input-field:focus {
  outline: 1px solid #1877f2;
}

.login-button {
  width: 22rem;
  max-width: 90%;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgb(175, 175, 173);
  background-color: #1877f2;
  color: white;
  font-size: 1.5rem;
}

.forgot-password {
  text-decoration: none;
  font-size: 0.9rem;
  color: #1877f2;
  margin-top: 0.5r;
}

.hr{
  width: 20rem;
  max-width: 90%;
  border:  1px solid rgb(216, 211, 211) ;
}

.create-button {
  width: 11rem;
  max-width: 80%;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: #42b72a;
  color: white;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.createPage {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.outerbox {
  font-size: 0.8rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.footer-lang {
  width: 45rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80%;
  margin-left:8rem ;
}

.lang-list {
  list-style: none;
  max-width: 80%;

}

.language {
  text-decoration: none;
  color: rgb(128, 128, 124);
  font-size: 0.9rem;
  text-align: center;
  
}

.language:hover {
  text-decoration: underline;
}
.footer-hr{
  width: 60rem;
  max-width: 80%;
}

.footer-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80%;
  line-height: 1.5rem;
  margin-left:8.8rem ;
  text-align: left;

}

.footer-list {
  list-style: none;
 
}

.page-end {
  color: rgb(128, 128, 124);
  font-size: 0.9rem;
  margin-left: 12rem;
}

@media only screen and (max-width: 600px) {
  .subheading {
    display: none;
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60vh;
    margin-top: 1rem;
  }

  .footer-lang {
    flex-direction: column;
  }
  .footer-list{
   margin-right: 1rem;
  }
  .not-always {
    display: none;
  }
  .page-end {
   margin: 0;
   text-align: center;
  }
  
  .footer-lang {
    margin: 0;
  }
  .footer-contents {
    margin: 0;
    
  }
.footer-hr{
  display: none;
}
.plus-button{
  display: none;
}
}